!!!html
%html{ :class => "no-js", :lang => "en" }
	%head
		%meta{ :charset => "utf-8" }
		%meta{ :name => "viewport", :content => "width=device-width" }
		%meta{ :name => "description", :content => "Studio Alliance is a collective of superheroic designers based in Kent, OH." }
		%meta{ :name => "author", :content => "Brendon Alexander Roberto" }
		%meta{ :name => "keywords", :content => "web development, kent, web design, portfolio, designers, ohio, midwest, html, css, front-end development, frontend, javascript, coffeescript, developers" }
		%meta{ :name => "msvalidate.01", :content => "6CBDA5A7CFB4BF2FCE76708A41A163F7" }
		%title Studio Alliance
		%link{ :href => "//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css", :rel => "stylesheet" }
		%link{ :href => "//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css", :rel => "stylesheet" }
		%link{ :href => "http://fonts.googleapis.com/css?family=Raleway:400,700", :rel => "stylesheet" }
		%link{ :href => "css/main.css", :rel => "stylesheet" }
		%script{ :type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" }
	%body
		%nav{ :class => "top-bar", :id => "hp-0" }
			%ul{ :class => "large-centered small-centered" }
				%li{ :class => "name" }
					%h1
						%a{ :href => "#" } <i class="menu-icon icon-logo"></i>
		%div{ :class => "hero-panel dark", :id => "hp-1" }
			%header{ :class => "heading row monster-background" }
				%h1{ :class => "lead" } 
					Got a design monster?
			%a{ :href => "#", :class => "advance-button ab-1" }
		%div{ :class => "hero-panel light", :id => "hp-2" }
			%section{ :class => "row" }
				%header{ :class => "article-heading" }
					%h1 Super.
				%article{ :class => "story large-12 large-centered small-12 small-centered columns" }
					%div{ :class => "large-6 small-12 columns left" }
						%p{ :class => "large-12 small-12 columns" } We&lsquo;re Studio Alliance, a group of design superheroes located in Kent, OH. The heroes of Studio Alliance are dedicated to fight the never-ending war against bad design.
						%p{ :class => "large-12 small-12 centered columns" } This team of designers and illustrators can meet any challenge thrown at them by combining their diverse abilities.
						%p{ :class => "large-12 small-12 centered columns" } We&lsquo;ll use our amazing skills to help your business conquer any design or illustration problems you may face.
						%p{ :class => "large-12 small-12 centered columns" } When trouble strikes, you know who to call.
					%img{ :class => "clearfix large-4 columns thumbs-up", :src => "images/studio-alliance-thumbs-up.png" }
			%a{ :href => "#", :class => "advance-button ab-2" }
		%div{ :class => "hero-panel dark", :id => "hp-3" }
			%section{ :class => "row" }
				%header{ :class => "article-heading" }
					%h1 Design.
				%article{ :class => "story large-10 large-centered small-12 small-centered columns" }
					%img{ :class => "large-4 columns", :src => "images/studio-alliance-city.png" }
					%p{ :class => "large-6 large-offset-6 right small-12 small-centered columns" } Studio Alliance is based in beautiful Kent, Ohio, where by day, it&lsquo;s heroes work and study design at Kent State University.
					%p{ :class => "large-6 large-offset-6 right small-12 small-centered columns" } By night, Studio Alliance takes to the streets, aiming to keep design problems at bay with their superior VCD skills.
			%a{ :href => "#", :class => "advance-button ab-3" }
		%div{ :class => "hero-panel light", :id => "hp-4" }
			%section{ :class => "row" }
				%header{ :class => "article-heading" }
					%h1 Heroes.
				%article{ :class => "story large-10 large-centered small-12 small-centered columns" }
					%p{ :class => "large-10 large-centered small-12 small-centered columns" } We&lsquo;d love to work with you. If you&lsquo;re interested in our superheroic services, drop us a line at (330) 555-5555, or send us an email at hello@studioallicance.com
			%a{ :href => "#", :class => "advance-button ab-top" }
		%div{ :class => "hero-panel light" }	
			%footer{ :id => "footer", :role => "footer", :class => "row" }
				%p{ :class => "large-10 large-centered small-12 small-centered columns footer-info" } &copy; 2013 Studio Alliance
		%script{ :type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
		%script{ :type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation.min.js" }
		:javascript
			$(document).foundation();
		%script{ :type => "text/javascript", :src => "js/jqueryScrollTo.min.js" }
		%script{ :type => "text/javascript", :src => "js/app.js" }
